@use "../../scss/variables" as vars;
@use "../../scss/mixins" as mixins;

@mixin drop-shadow-feature {
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.25));
}

main {
  width: 100%;
}

.card-feature {
  border: 1px solid vars.$eco-green-300;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  h3 {
    font-weight: 900;
  }
}

.tracking-img {
  object-fit: contain;
  width: clamp(12rem, 100%, 18rem);
  height: auto;
  @include drop-shadow-feature();
  align-self: center;
}

.paper-plane-img {
  object-fit: cover;
  height: 10rem;
  @include drop-shadow-feature();
  position: absolute;
  bottom: 0.5rem;
}

#features main > [class^="col-"] {
  display: flex;
  flex-direction: column;
}

#features main > [class^="col-"] > .card-feature {
  flex: 1;
}

@include mixins.responsive(md) {
  main {
    width: 75%;
  }
}

@include mixins.responsive(2xl) {
  main {
    width: 50%;
  }
}

.mockup {
  height: 30rem;
  rotate: -18deg;
  position: absolute;
  top: -30%;
  left: 55%;
  z-index: -1;
}
