.footer {
  background-color: #1b4f1f;
  border-radius: 1rem;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top:4rem;

  .footer-links {
    li {
      margin-bottom: 0.4rem;

      a {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        font-size: 0.95rem;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }

  .footer-logo {
    height: 7.5rem;
    object-fit: cover;
  }

  .footer-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin: 1.5rem 0;
  }
}
