@use "../../../scss/variables" as vars;

.logo-aside {
  height: "5rem";
  cursor: pointer;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16rem;
  z-index: 1050;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background: #9dbc7040;
  backdrop-filter: blur(4px);

  &.show {
    transform: translateX(0);
  }

  li {
    width: 95%;
    cursor: pointer;

    a {
      color: vars.$eco-black;
    }

    &:hover {
      background-color: #4b822e80;
      a {
        color: vars.$eco-light;
      }
    }
  }
}
