@use "../../scss/mixins" as mixins;
@use "../../scss/variables" as vars;

.error-view {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.error-content {
  text-align: center;
  margin: auto 0;

  img {
    width: 18.75rem;
    margin-bottom: -2rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
  }

  button {
    width: 20rem !important;
  }
}
